[push]
default = matching

[hub]
protocol = https

[core]
editor = vim
excludesfile = /opt/boxen/config/git/gitignore

[help]
autocorrect = 1

[color]
ui = true

[user]
name = Russell Scheerer
email = russell.scheerer@gmail.com

[github]
user = scheerer

[credential]
helper = /opt/boxen/bin/boxen-git-credential
